html {
    min-height: 100vh;
}
body {
    box-sizing: border-box;
    color: #323232;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-feature-settings: 'kern';
    font-kerning: normal;
    line-height: 1.6667;
    min-height: 100vh;
    padding: 0 3em 3em;
    position: relative;
    text-rendering: optimizeLegibility;
    width: 100vw;
}
h1, h2, h3, h4 {
    color: #1a1a1a;
}
header {
    margin-bottom: 2.5em;
}
header > nav {
    padding: 1em 0;
}
header > p {
    font-size: 0.75em;
    margin: 1em 0 0;
}
nav > ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav > ol > li {
    display: inline-block;
    list-style: none;
}
nav a[href] {
    text-decoration: none;
}
nav a[href]:hover,
nav a[href]:focus {
    text-decoration: underline;
}
header > h1 {
    border-bottom: 3px solid #4b88c2;
    display: inline-block;
}
a[href] {
    color: #1a1a1a;
    padding: 0 0 2px;
}
form {
    margin: 0 0 1em;
}
fieldset {
    background: #f6f6fa;
    border: 1px solid #ccccce;
}
fieldset > legend {
    font-weight: bold;
}
.table-filter {
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.table-filter > label {
    margin: 0 0.5em;
}
.table-filter > label:first-child {
    margin: 0;
}
.table-container {
    overflow-x: auto;
    width: 100%;
}
table {
    border-collapse: collapse;
    min-width: 100%;
    table-layout: fixed;
}
th {
    background: #f6f6fa;
    border: 1px solid #ccccce;
    font-size: 0.9375em;
    font-weight: bold;
    padding: 0 0.5em;
    text-align: left;
    vertical-align: bottom;
}
tr:first-child > th {
    font-weight: normal;
    font-size: 0.875em;
    text-align: right;
    padding: 0.25em;
    vertical-align: middle;
}
th svg {
    vertical-align: middle;
}
th > a[href] {
    text-decoration: none;
    vertical-align: middle;
}
th > a[href]:hover,
th > a[href]:focus {
    text-decoration: underline;
}
th .sorted-asc,
th .sorted-desc,
th .unsorted {
    font-weight: normal;
}
th .unsorted {
    color: #999;
}
td {
    border: 1px solid #ccccce;
    padding: 0.25em 0.5em;
    vertical-align: top;
}
main {
    padding-bottom: 3em;
}
main > article,
main > p {
    margin: 0 0 1.5em;
    width: 48em;
}
label {
    color: #696969;
    display: block;
}
button {
    background: #4b88c2;
    border: 0;
    border-radius: 0.25em;
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 0.5em;
}
input[type="url"],
input[type="text"],
input[type="email"] {
    font-size: 1em;
}
h1 {
    font-family: Georgia, serif;
    font-size: 1.7em;
    font-weight: normal;
    margin: 0.25em 0 0;
}
h2 {
    border-bottom: 1px dotted;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 1.35em;
    font-weight: normal;
}
h3 {
    font-size: 1em;
}
ul > li {
    margin-bottom: 0.25em;
}
code {
    background: #e6e6ea;
    padding: 0 2px;
}
.pagination {
    margin: 0.25em;
    overflow: hidden;
}
.pagination-range {
    float: left;
}
.pagination-links {
    float: right;
}
footer {
    background: #4b88c2;
    bottom: 0;
    color: #fff;
    left: 0;
    overflow: hidden;
    padding: 0.3em 3em;
    position: absolute;
    right: 0;
}
footer > p,
footer > nav {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
footer > p {
    float: left;
}
footer > nav {
    float: right;
}
footer a[href] {
    color: #fff;
}
